---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page A">
	<h1>Welcome to Page A 👋</h1>
	<p>This page will cross-fade to Page B.</p>
	
	<a href="/b">Go to Page B</a> 
</Layout>

<style>
    /* Add some basic styling for visual effect */
	h1 {
		color: teal;
	}
</style>