---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page B">
	<h1>Welcome to Page B 🎉</h1>
	<p>This page will cross-fade back to Page A.</p>
	
	<a href="/a">Go back to Page A</a> 
</Layout>

<style>
    /* Add some basic styling for visual effect */
	h1 {
		color: purple;
	}
</style>