---
import { ClientRouter } from "astro:transitions";
---
<link rel="icon" type="image/favicon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>a</title>
<meta name="title" content="yolo" />
<meta name="description" content="yolo" />

<ClientRouter />