---
import CommonHead from "../components/CommonHead.astro";
import { slide } from "astro:transitions";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/favicon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>M Azzam Azis</title>
		<CommonHead />

	</head>
	<body>
		<header transition:animate={slide({ duration: "0.4s" })}>
		<slot />
	</body>
</html>


